@model IEnumerable<FrontEnd.Models.Orders>
@{
    ViewBag.Title = "Orders";
}

@*Еще бы добавить дату заказа*@
<div class="container">
    <h2>@ViewBag.Title.</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<th scope="row">@orders[i].Id</th>*@
                    <th scope="row">@Html.DisplayFor(modelItem => item.Id).</th>
                    <th scope="row">@Html.DisplayFor(modelItem => item.Count)</th>
                    <th scope="row">@Html.DisplayFor(modelItem => item.Name)</th>
                </tr>

            }
        </tbody>
    </table>
</div>